<h3><%= @circuit.title %></h3>

<div class="clearFix">
  <div class="label"><%= t('description') %>:</div>
  <div class="content"><%= @circuit.description %></div>
</div>


<small style="float: right; color: #777777"><%= @circuit.user.email %></small>


<% unless @circuit.scheme.empty? %>
  <div id="circuit-readonly" data-scheme="<%= @circuit.scheme %>"></div>
  <h5><%= t('result_probabilities') %>:</h5>
  <pre><samp id="circuit-report"></samp></pre>
<% end %>
